.App {
	padding: 10px;
	font-size: 20px;
	font-family: 'Raleway', sans-serif;
	line-height: 1;
}
.heading {
	font-size: 45px;
	color: rgb(74, 16, 216);
	font-weight: 900;
	font-style: italic;
}
.col {
	max-width: 500px;
}
.h5 {
	margin-top: 0;
	font-size: 30px;
	font-weight: 800;
}
.h6 {
	font-size: 20px;
	font-style: italic;
}
