.card {
	padding: 15px;
}
.row + .row {
	border-top: 2px solid #4a0fd8;
}
.List > .row:hover {
	background: #4a0fd8;
	color: white;
	cursor: pointer;
}
.dropdown-menu {
	font-size: 20px;
}
.dropdown-menu.inner {
	overflow: hidden;
}
